<h1><%= @animal.name %></h1>
<p> Species: <%= @animal.species %> </p>
<p> Age: <%= @animal.age %> </p>
<img src="<%= @animal.image %>" alt="Image of Animal">
<br>

<%= link_to "Edit Animal", edit_animal_path(@animal.id) %>
<%= link_to "Delete Animal", animal_path(@animal.id), method: :delete %>
